
.control-group.error .help-block { color: #999; }

.deadline-passed { color: red; }

#articleEditPage {}

.order-payment {  }
	.order-payment form { margin-top:2em; }
	  .order-payment form input { 
	font-size: 20px;
	font-weight:bold;
	width: 4em;
	height: 1.5em;
  }
